# ENVIRONMENT CONFIGURATION (FINANCE TRACKER)
# Copy this file to .env and fill in your own data.

# SECURITY / AUTH
# The JWT key must be at least 32 characters long for the HS256 algorithm.
# You can use any long string of characters.
JWT_SECRET=zXp9sK2vR5nB8mQ1wE4rtY7uI0oP3aS6dF9gH2jL5kM8

# DATABASE (POSTGRES)
# These credentials will be used to initialize the database in the 'db' container
DB_PORT=5935
DB_USER=postgres
DB_NAME=finance_db
DB_PASSWORD=853271

# API SETTINGS
ASPNETCORE_ENVIRONMENT=Development
API_PORT=5200

# Keycloak Credentials
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=SecretPassword123!